<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All users</title>
</head>
<body>
<h1>All users</h1>
<p><a th:href="@{/admin/addUser}">Add User</a>
<p>
    <link th:href="@{/css/allUsersCss.css}" rel="stylesheet">
<table>
    <thead>
    <tr>
        <th>User name</th>
        <th>E-mail</th>
        <th>Created</th>
        <th>Games</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.userName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.created}"></td>
        <td>
            <span th:each="game : ${user.gameList}" th:text="${game.getNameWithRank()}">
            </span>
        </td>
        <td>
            <a th:href="@{/admin/deleteUser(id=${user.id})}" onclick="return confirm('Are you sure?')">Delete</a>
            <a th:href="@{/admin/editUser(id=${user.id})}">Edit user</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
