<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link th:href="@{/css/allUsersCss.css}" rel="stylesheet">
    <script src="/js/back.js"></script>
</head>
<body>
<h1>Admin panel</h1>
<p><a th:href="@{/admin/addUser}">Add User</a>
</p>
<div>
    <form th:action="@{/users/changePassword}" method="get">
        <div><input type="submit" value="Change password"/></div>
    </form>
</div>
<div>
    <form th:action="@{/users/changeEmail}" method="get">
        <div><input type="submit" value="Change email"/></div>
    </form>
</div>
<div>
    <form th:action="@{/users/rooms}" method="post">
        <label for="number">Number of rooms</label>
        <select id="number" name="number">
            <option th:each="number : ${numberOfRooms}" th:value="${number}" th:text="${number}"></option>
        </select>
        <div><input type="submit" value="Show rooms"/></div>
    </form>
</div>
<div>
    <form th:action="@{/admin/showUserByName}" th:method="post">
        <label th:for="userName">Search by user name</label>
        <input th:id="userName" th:type="text" th:name="userName">
        <input th:type="submit" th:value="Search">
    </form>
</div>
<div>
    <form th:action="@{/admin/showUserById}" th:method="post">
        <label th:for="userId">Search by user ID</label>
        <input th:id="userId" th:type="number" th:name="userId">
        <input th:type="submit" th:value="Search">
    </form>
</div>
<div>
    <form th:action="@{/admin/showUserByEmail}" th:method="post">
        <label th:for="userEmail">Search by user E-mail</label>
        <input th:id="userEmail" th:type="email" th:name="userEmail">
        <input th:type="submit" th:value="Search">
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>User name</th>
        <th>ID</th>
        <th>E-mail</th>
        <th>Is active</th>
        <th>Created</th>
        <th>Games</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.userName}"></td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.isActive}"></td>
        <td th:text="${user.created}"></td>
        <td>
            <span th:each="game : ${user.gameList}" th:text="${game.getNameWithRank()}">
            </span>
        </td>
        <td>
            <a th:href="@{/admin/deleteUser(id=${user.id})}" onclick="return confirm('Are you sure?')">Delete</a>
            <a th:href="@{/admin/editUser(id=${user.id})}">Edit user</a>
            <a th:unless="${user.isActive()}" th:href="@{/admin/unbanUser(id=${user.id})}">Unban</a>
            <a th:if="${user.isActive()}" th:href="@{/admin/banUser(id=${user.id})}">Ban</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <form th:action="@{/logout}" method="post">
        <div><input type="submit" value="Logout"/></div>
    </form>
</div>
<button onclick="goBack()">Back</button>
</body>
</html>