<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link th:href="@{/css/registerCss.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <script src="/js/back.js"></script>
</head>
<body>
<form method="post" th:action="@{/users/changePassword}" th:object="${user}">
    <div>Password: <input type="password" name="password" th:field="*{password}"
                          placeholder="Enter password at least 8 characters long."/></div>
    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <input type="submit" value="Change"/>
</form>
<button onclick="goBack()">Back</button>
</body>
</html>