<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<link th:href="@{/css/registerCss.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="/js/back.js"></script>
</head>
<body>
<p th:object="${user}" th:text="'Hello ' + ${user.userName}"></p>
<div th:if="${role.equals('ADMIN')}">
    <a th:href="@{/admin/adminPanel}">Admin Panel</a>
</div>
<div>
    <button onclick="window.location.href='/users/changePassword'">Change password</button>
</div>
<div>
    <button onclick="window.location.href='/users/changeEmail'">Change email</button>
</div>

<div>
    <a th:href="@{/users/deleteAccount(id=${user.id})}" onclick="return confirm('Are you sure?')">Delete</a>
</div>
<div>
    <form th:action="@{/users/rooms}" method="post">
        <label for="number">Number of rooms</label>
        <select id="number" name="number">
            <option th:each="number : ${numberOfRooms}" th:value="${number}" th:text="${number}"></option>
        </select>
        <div><input type="submit" value="Show rooms"/></div>
    </form>
</div>
<div>
    <form th:action="@{/logout}" method="post">
        <div><input type="submit" value="Log out"/></div>
    </form>
</div>
<button onclick="goBack()" class="goBack">Back</button>
</body>
</html>