<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hello user !</title>
    <link th:href="@{/css/registerCss.css}" rel="stylesheet">
    <script src="/js/back.js"></script>
</head>
<body>
<h1>Welcome user!</h1>
<div>
    <button onclick="window.location.href='/register'">Register</button>
</div>
<div>
    <button onclick="window.location.href='/users/home'">Main page</button>
</div>
<div>
    <form action="/logout" method="post">
        <button type="submit">Log out</button>
    </form>
</div>
<button onclick="goBack()">Back</button>
</body>
</html>