<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hello user !</title>
    <link th:href="@{/css/registerCss.css}" rel="stylesheet">
    <script src="/js/back.js"></script>
</head>
<body>
<h1>Welcome user!</h1>
<div>
    <form method="get" th:action="@{/register}">
        <div><input type="submit" value="Register"></div>
    </form>
</div>
<div>
    <form method="get" th:action="@{/users/home}">
        <div><input type="submit" value="Main page"></div>
    </form>
</div>
<div>
    <form th:action="@{/logout}" method="post">
        <div><input type="submit" value="Log out"/></div>
    </form>
</div>
<button onclick="goBack()">Back</button>
</body>
</html>