<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Room Details</title>
  <link th:href="@{/css/registerCss.css}" rel="stylesheet">
</head>
<body>
<h1>Room Details</h1>
<p>Room name: <span th:text="${room.name}"></span></p>
<p>Created: <span th:text="${room.created}"></span></p>
<p>Expires: <span th:text="${room.expires}"></span></p>
<div style="display: none;">
  <span id="twitchId" th:text="${twitchId}"></span>
</div>
<h2>Featuring game:</h2>
<ul>
  <li th:each="game : ${room.game}" th:text="${game.name}"></li>
</ul>

<h2>User List</h2>
<ul>
  <li th:each="user : ${room.userList}" th:text="${user.userName}"></li>
</ul>
<div id="stream-container"></div>
<h2>Messages</h2>
<ul id="messageUl">
  <li th:each="message : ${room.messages}" th:text="${message.content}"></li>
</ul>
<form id="messageForm" method="post" th:action="@{/room/addMessage}">
  <input id="roomId" type="hidden" name="roomId" th:value="${room.id}">
  <input type="hidden" id="userName" name="userName" th:value="${user.getUserName()}">
  <div>Message: <input id="sentMessage" type="text" name="content" placeholder="Enter a message."></div>
  <div class="error" th:if="${#fields.hasErrors('message.content')}" th:errors="${message.content}"></div>
  <div><input id="submit" type="submit" value="Send message"/></div>
</form>
<div>Click <a th:href="@{/users/home}">here</a> to see the main page.</div>
<div>
  <form th:action="@{/logout}" method="post">
    <div><input type="submit" value="Logout"/></div>
  </form>
</div>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/js/twitch.js"></script>
<script type="text/javascript">
  var sendButton = document.getElementById("submit");
  var stompClient = null;

  function sendMessage() {
    var message = document.getElementById('sentMessage').value;
    var from = document.getElementById('userName').value;
    var messageToSend = from + ': ' + message;
    console.log('Sending message:', messageToSend); // Add this console.log statement
    var messageSent = {
      content: messageToSend
    };
    stompClient.send("/app/chat", {}, JSON.stringify(messageSent));
  }

  function showMessageOutput(messageOutput) {
    var response = document.getElementById('messageUl');
    var li = document.createElement('li');
    li.appendChild(document.createTextNode(messageOutput.text));
    response.appendChild(li);
  }

  sendButton.addEventListener('click', function() {
    sendMessage();
  });

  function connect() {
    var socket = new SockJS('/chat');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function(frame) {
      console.log('Connected: ' + frame);
      stompClient.subscribe('/topic/messages', function(messageOutput) {
        showMessageOutput(JSON.parse(messageOutput.body));
      });
    });
  }

  connect();
</script>
</body>
</html>
